.App {
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.login, td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.itemList{
  display: flex;
}